---
import { SvgComponentGlobal } from "@/components/page/SvgIcons.tsx";
---

<h2 class="text-2xl font-bold mb-5 mt-32 flex justify-start items-center gap-4">
  <SvgComponentGlobal icon="PROFILE" className="w-8 h-8" />
  About me
</h2>

<article class="flex flex-col md:flex-row justify-between items-center gap-5">
  <paragraph class="flex-1 flex flex-col gap-10">
    <p>
      As Juanse, I excel in crafting and implementing effective content strategies and advertising campaigns. 
    </p>
    <p>
      My focus lies in designing web experiences and applications that captivate our users, ensuring intuitive and engaging navigation.
    </p>
    <p>
      I meticulously analyze the results to identify areas of improvement and consistently achieve sales and profitability goals.
    </p>
    <div
      class="flex justify-between md:justify-start items-center gap-5 text-xs"
    >
      <a
        href="#"
        target="_blank"
        download
      >
        <button
          class="bg-darker text-ligth dark:bg-ligth dark:text-darker font-bold py-2 px-4 rounded-full hover:bg-blue-700"
        >
          Download CV ES
        </button>
      </a>
      <a
        href="#"
        target="_blank"
        download
      >
        <button
          class="bg-darker text-ligth dark:bg-ligth dark:text-darker font-bold py-2 px-4 rounded-full hover:bg-blue-700"
        >
          Download CV EN
        </button>
      </a>
    </div>
  </paragraph>
  <figure class="flex-1 flex justify-center">
    <img
      src="https://github.com/juanse-08.png"
      alt="Juanse-08"
      class="w-72 h-72 rounded-full hover:shadow-2xl transition-all duration-600 ease-in-out hover:scale-125"
    />
  </figure>
</article>
